* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Colors*/

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --light-fuchsia: #C84DCF;

    /*Fonts*/
    --main-f-family: "Space Grotesk", sans-serif;
}

body {
    font-family: var(--main-f-family);
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    align-items: center;
    min-height: 100vh;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    padding: 0.8rem 1rem;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 5px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

label {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

#s1 {
    display: flex;
    flex-direction: column;
    color: var(--White);
    padding: 3rem;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    width: 1200px;
    height: 100vh;
}

#s2 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 5px;
    margin-left: 250px;
    width: 100%;
}
#completed-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 5px;
    width: 100%;
    background-color: var(--White);
}

.icon-complete {
    width: 50px;
    margin-bottom: 1rem;
}

.successful__title {
    text-transform:  uppercase;
}

.successful__content {
    color: var(--Dark-grayish-violet);
}

/* Card Details */

.cardLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 4rem;
}

.frontCard {
    background-image: url('../images/bg-card-front.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-right: -100px;
    background-size: 90%;
    height: 300px;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.card__number {
    font-size: 23px;
    letter-spacing: 2px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.card__owner {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-right: 0px;
}

 
.card_details {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
}
 
.frontCard p {
    justify-content: center;
}

.expiracy__year p {
    margin-left: 0px;
}

.expiracy_date {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -39px;
    left: 360px;
    font-size: 14px;
    letter-spacing: 2px;
}

.backCard p {
    position:absolute;
    margin-top: 105px;
    margin-left: 500px;
    flex-direction: column;
    justify-content: center;
}

.backCard {
    background-image: url('../images/bg-card-back.png');
    background-repeat: no-repeat;
    background-position: right;
    margin-right: -200px;
    background-size: 70%;
    height: 300px;
    border-radius: 15px;
}

/* Col */ 
.col-md-6 {
    width: 100%;
    margin: 0;
    padding: 0;
}

.first {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

#secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}


#secondRow #yy {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: -40px;
}


/*Forms */ 
.form-group {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 2rem;
    width: 100%;
}

.form-control {
    border-color: 1px solid var(--Very-dark-violet);
}

.form-control label {
    font-size: 1.2rem;
}

.form-control input {
    margin-top: 0.5rem;
}

#card-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 500px;
}

/*General */
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-violet);
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--Dark-grayish-violet);
}

#mm,
#yy {

    width: 80px;
}

#cvc {
    width: 100px;
}

input .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}
 

.attribution {
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    color: var(--Dark-violet);
}

.attribution a {
    color: var(--light-fuchsia)
}



/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 1rem;
    }
}