* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*Colors*/

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --light-fuchsia:#C84DCF;

    /*Fonts*/
    --main-f-family:"Space Grotesk", sans-serif;
}

body {
    font-family: var(--main-f-family);
    background-color: #fff;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    align-items: center;
    min-height: 100vh;
    background-image: url('../images/bg-main-desktop.png');
    background-repeat: no-repeat;
    background-size:600px;
    background-position:left;
}

input {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    padding: 0.8rem 1rem;
    border: 1px solid var(--Light-grayish-violet);
    border-radius: 5px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #333;
}

label {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}
.frontCard {
    position: relative;
    left: -900px;
    display: none;
}
.backCard {
    position: relative;
    left: -800px;
    margin-top: 2rem;
    display: none;
}

.col-md-6 {
    width: 100%;
    margin: 0;
    padding: 0;
}
 
.first {
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

#secondRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}


#secondRow #yy {
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: -40px;
}
 
.form-group {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    margin-top: 2rem;
    width: 100%;
}

.form-control {
    border-color: 1px solid var(--Very-dark-violet);
}

.form-control label {
    font-size: 1.2rem;
}

.form-control input {
    margin-top: 0.5rem;
}

#card-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 500px;
}


.container {
    width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-primary {
    align-items: center;
    justify-content: center;
    background-color: var(--Very-dark-violet);
    color: #fff;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
    width: 100%;
}

.btn-primary:hover {
    background-color: var(--Dark-grayish-violet);
}

#mm, #yy{

    width: 80px;
}

#cvc {
    width: 100px;
}

input .form-group {
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 auto;
}


#completed-state {
    display: none;
}

#completed-state.active {
    display: block;
}

.completed-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.attribution {
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    color: var(--Dark-violet);
}

.attribution a {
    color: var(--light-fuchsia)
}


/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 1rem;
    }
}
